.reveal section img {
	border: none;
	box-shadow: none;
}

body {
  background-image: url('../images/eclipse_foundation_logo.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
	background-size: 25%;
}
